body {
    margin: 0;
    background: linear-gradient(176deg, #F0E8E1 0.55%, #FBC2D7 21.68%, #F0E8E1 70.49%, #FFB6C6 85.81%, #FB90A7 96.73%);
}

.container {
    display:flex;
    width: 100%; /* Default width for mobile */
    padding: 0 20px 57.069px 20px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden; /* Hide the overflowing parts of the wide images */
}

/* --- Image Styles --- */

img {
    /* General style for all images */
    display: block;
}

#content-part1 {
    width: 600px; /* Smaller width for more visible area on mobile */
    height: auto;
    margin-top: -20px;
}

#content-program,
#content-guide {
    width: 600px; /* Smaller width for more visible area on mobile */
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Styles for the tabbed component */
.tabs-container {
    position: relative;
    width: 100%; 
}

.tabs-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Overlay covers the whole container now */
    z-index: 10; /* Ensure tabs are on top */
}

.tab-button {
    position: absolute; /* Each tab is positioned independently */
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

#tab-program {
    top: 40px;
    left: 0;
    width: 50%;
    height: 80px; /* Original height */
    background-color: rgba(255, 0, 0, 0.0); 
}

#tab-guide {
    top: 40px;
    right: 0; /* Positioned to the right */
    width: 50%;
    height: 80px; /* Original height */
    background-color: rgba(0, 128, 0, 0.0);
}

#tab-guide-scroll {
    /* This is a GUESS for the position of the new button */
    top: 1100px;
    left: 20%;
    width: 40%;
    height: 50px;
    background-color: rgba(0, 0, 128, 0.0); /* Green with 50% transparency */
}

.hidden {
    display: none;
}

/* Media Query for larger screens */
@media (min-width: 1024px) {
    .container {
        width: 720px; /* Width for desktops */
        overflow-x: visible; /* Show the full image on desktop */
    }

    #content-part1,
    #content-program,
    #content-guide {
        width: 100%; /* Images fill the container on desktop */
    }

    #content-program,
    #content-guide {
        /* Reset mobile-specific centering */
        position: static;
        transform: none;
    }
}